[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/it-svit
[access "refs/for/refs/*"]
	read = group user/it-svit
	push = group user/it-svit
	label-Code-Review = -2..+2 group user/it-svit
	label-Verified = -1..+1 group user/it-svit
	rebase = group user/it-svit
	removeReviewer = group user/it-svit
	submit = group user/it-svit
[access "refs/heads/*"]
	read = group user/it-svit
	create = group user/it-svit
	push = +force group user/it-svit
	pushMerge = group user/it-svit
[access "refs/tags/*"]
	push = group user/it-svit
	push = +force group user/it-svit
